* {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing :border-box border-box;
    background-color: hwb(0 0% 100% / 0.761);
    color:rgba(194, 143, 23, 0.748) ;
}

strong{
    color: #e85703d6;
}

.titulo-destaque {
    color: aliceblue;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
    gap: 80px;
}

.foto{
    height: 28vh;
    border-radius: 300px;
}

.apresentacao__conteudo{
    width: 50vw;
    flex-direction: column;
    
}

.apresentacao__conteudo__titulo{
    font-size:xx-large;
    color: #00AFE0;
}

.apresentacao__conteudo__paragrafo{
    font-family: "Chonburi", system-ui;
    font-weight: 400;
    font-style: normal;
    
}

.apresentacao__conteudo__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.apresentacao__conteudo__links__link{
    border: 2px solid #00AFE0;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: "Chonburi", system-ui;
    font-weight: 400;
    font-style: normal;
   
    
}

.apresentacao__conteudo__links__subtitulo{
    font-size: 20px;
}