
:root{
    --cor-1: #000000cf;
    --cor-2: #df9d10da ;
    --cor-3: #fdfafa;
    --cor-4: #e85703d6;
    --cor-5: #00AFE0;
} 


* {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh; 
    box-sizing :border-box border-box;
    background-color: var(--cor-1);
    color: var(--cor-2);
    font-size: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

strong{
    color: var(--cor-4);
}


.apresentacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10% ;
    gap: 3rem;
}

.apresentacao2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5% 10% ;
}

.apresentacao2__conteudo{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.construcao{
    padding: 200px;
}

.foto{
    height: 28vh;
    border-radius: 180px;
    border: 3px solid var(--cor-2);
}


.apresentacao__conteudo{
    flex-direction: column;
    

}

.apresentacao__conteudo__titulo{
    font-size:2.25rem;
    color: var(--cor-5)
}


.apresentacao__conteudo__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.apresentacao__conteudo__links__link{
    border: 2px solid var(--cor-5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem; 
    text-decoration: none;
    color: var(--cor-3);
    gap: 10px;
   
    
}

.apresentacao__conteudo__links__link:hover{
    background-color: var(--cor-1);
}

.apresentacao__conteudo__links__subtitulo{
    font-size: 1.5rem;
}

.rodape{
   color: var(--cor-3);
   background-color: var(--cor-5);
   padding: 5px;
   text-align: center;
   font-size: 1.5rem;
}

.cabecalho{
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;


}

.cabecalho__menu__link{
    font-size: 1.5rem;
    text-decoration: none;
    color: #00AFE0;
     
}

.container{
    display: flex;
    gap: 30px;
    margin: 5% 10%;
   ;

}

.tamanho__foto{
    height: 300px;
    width: 300px;
    border-radius: 2rem;
    border: 3px solid var(--cor-2);
}

@media (max-width:1300px){
    .apresentacao{
        flex-direction: column-reverse;
    }


    .container{
        flex-direction: column;
    }

    .cabecalho{
        padding: 3%;
    }

    .cabecalho__menu{
        
    justify-content: center;
    
    }

    .rodape{
        color: var(--cor-3);
        background-color: var(--cor-5);
        padding: 4px;
        text-align: center;
        font-size: 1.1rem;
    }

    .apresentacao__conteudo__titulo{
        font-size:2rem;
    }

    .apresentacao__conteudo__paragrafo{
        font-size: 1.1rem;
    }

    .apresentacao__conteudo__links__link{
        width: 120px;
        font-size: 1.1rem; 
        gap: 7px;
        
    }

    .apresentacao__conteudo__links{
        gap: 10px;
    }

    .apresentacao__conteudo__links__subtitulo{
        font-size: 1.1rem;
    }

}




