* {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh; 
    box-sizing :border-box border-box;
    background-color: hwb(0 0% 100% / 0.761);
    color:rgba(223, 157, 16, 0.856) ;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

strong{
    color: #e85703d6;
}


.apresentacao{
    display: flex;
    justify-content: space-between;
    padding: 5% 10% ;
}

.foto{
    height: 28vh;
    border-radius: 300px;
    border: 2px solid rgb(246, 242, 242);
}


.apresentacao__conteudo{
    flex-direction: column;

}

.apresentacao__conteudo__titulo{
    font-size:xx-large;
    color: #00AFE0;
}


.apresentacao__conteudo__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.apresentacao__conteudo__links__link{
    border: 2px solid #00AFE0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px; 
    text-decoration: none;
    color: rgb(252, 249, 249);
    gap: 10px;
   
    
}

.apresentacao__conteudo__links__link:hover{
    background-color: rgba(0, 0, 0, 0.182);
}

.apresentacao__conteudo__links__subtitulo{
    font-size: 20px;
}

.rodape{
   color: rgba(250, 247, 247, 0.913); 
   background-color: #00AFE0;
   padding: 5px;
   text-align: center;
   font-size: 20px;
}

.cabecalho{
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;


}

.cabecalho__menu__link{
    font-size: 20px;
    text-decoration: none;
    color: #00AFE0;
     
}